body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  background-color: #001d20;
}
a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav {
  height: 10px;
  background-color: #285d76;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
button {
  cursor: pointer;
  color: #174ea6;
  background-color: #e8f0fe;
  border-radius: 48px;
  height: 48px;
  border: none;
}
button:hover {
  background-color: #696a6c;
}
button:active {
  background-color: #e6e9ed;
}
main {
  color: #fff;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
